:root {
  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background-image: url(assets/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1005;
  width: 100%;

  font-family: 'Montserrat', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/****TITLES********/

h2 {
  color: black;

  font-weight: normal;
}

/*********LINKS & BUTTONS**********/

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

button {
  width: 100%;
  height: 50px;

  border: none;

  color: white;
  background: var(--green);

  padding: 0;

  border-radius: 0.25rem;

  cursor: pointer;
}

/****HEADER********/

header {
  text-align: left;
  height: 10%;
}
header img {
  display: grid;
  margin-top: 2rem;
  height: 7rem;
  box-shadow: -18px 0 15px 9px rgba(240, 231, 231, 0.472),
    -18px 0 5px -5px rgb(240, 231, 231, 0.472);
}

/******CALCULADORA**********/

#calculadora {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/folha.png);
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: 5%;
  height: 48rem;
  margin-top: -2rem;
}

/*======= FORMULARIO =======*/

form .opc,
.campo {
  font-weight: bold;
  color: rgb(185, 3, 3);

  font-size: var(--subtitle-font-size);
}

form .tipo {
  font-size: var(--subtitle-font-size);
  width: 85%;
  height: 35px;
  border: 1px solid #ccc;
  margin: 12px 0px;
  margin-top: 5px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 0 0;
  outline: 0;
}

form .tipo:hover {
  color: rgb(185, 3, 3);
  border: 1px solid rgb(185, 3, 3);
}
form .tipo::after {
  color: rgb(185, 3, 3);
  border: 1px solid rgb(185, 3, 3);
}

form {
  flex: 1 1 250px;
  text-align: left;
  align-items: center;
  margin-top: 2.5rem;
  width: 50%;
  padding: 10%;
}

form input[type='text'] {
  width: 50%;
  height: 38px;
  border: 1px solid #ccc;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 20px;

  box-shadow: 0 0 0 0;
  outline: 0;
}

form .resu {
  background-color: rgba(169, 169, 169, 0.411);
  font-weight: bold;
}

/*******FOOTER********/

footer {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0 1rem;
  color: rgb(29, 28, 28);
}

/******RESPONSIVE*******/

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  header img {
    display: flex;
    margin-top: 3rem;
    height: 10rem;
  }

  #calculadora {
    margin: 0%;
    width: 100%;
    margin: 0%;
    height: 55rem;
    margin-top: -10rem;
  }
}
